<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>お知らせ一覧</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1 class="mt-4">お知らせ一覧</h1>

<!-- 操作に応じたメッセージを表示:start -->
<div class="alert alert-success mt-4">
	お知らせを追加しました等、操作に応じたメッセージ
</div>
<!-- 操作に応じたメッセージを表示:end -->

<p>
	<a class="mt-4 btn btn-primary" href="save.html">お知らせの追加</a>
	<a class="mt-4 ml-4 btn btn-secondary" href="../home.html">ログアウト</a>
</p>
<table class="table">
	<tr>
		<th>ID</th>
		<th>投稿者</th>
		<th>タイトル</th>
		<th>掲載日</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>2</td>
		<td>taro</td>
		<td>定期メンテナンスのお知らせ</td>
		<td>2020年05月25日</td>
		<td><a class="btn btn-primary" href="detail.html">詳細を見る</a></td>
	</tr>
	<tr>
		<td>1</td>
		<td>taro</td>
		<td>子どもの日キャンペーン</td>
		<td>2020年05月01日</td>
		<td><a class="btn btn-primary" href="detail.html">詳細を見る</a></td>
	</tr>
</table>
</div>
</body>
</html>