<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MemberMapper">
    <sql id="joinSelect"> SELECT members.id, members.name,members.age, members.address,
        members.created, member_types.id AS type_id, member_types.name AS type_name FROM members
        JOIN member_types ON members.type_id = member_types.id </sql>
    <resultMap id="memberMap"
        type="Member">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="address" property="address" />
        <result column="created" property="created" />
        <result column="type_id" property="type.id" />
        <result column="type_name" property="type.name" />
    </resultMap>
    <select id="selectAll" resultMap="memberMap">
        <include refid="joinSelect"></include>
    </select>
    <select id="selectById" parameterType="int" resultMap="memberMap">
        <include refid="joinSelect"></include> WHERE members.id = #{id} </select>
    <insert id="insert" parameterType="Member"> INSERT INTO members (name, age, address, type_id,
        created) VALUES (#{name}, #{age}, #{address}, #{type.id}, NOW()) </insert>
    <update id="update" parameterType="Member"> UPDATE members SET name = #{name}, age = #{age},
        address = #{address}, type_id = #{type.id} WHERE id = #{id} </update>
    <delete id="delete" parameterType="int"> DELETE FROM members WHERE id = #{id} </delete>
</mapper>